<header class="global-header">
  <div class="logo-container">
    <img src="{{ image }}" alt="Klaviyo Logo">
  </div>
  {# <div class="title-container"> #}
    
  {# </div> #}
  {# <section class="wrapper"> #}
  {# </section> #}
</header>
