<section id="templateArea" class="span-12 span-8@tablet template-area">
    <table>
        <thead>
            <tr>
                <th>
                    <div id="headerArea" class="drag-area"></div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div id="contentArea" class="drag-area"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="footerArea" class="drag-area"></div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
    