<section id="templateArea" class="span-12 span-8@tablet template-area">
    <div class="email-container">
        <table>
            <tbody>
                <tr>
                    <td>
                        <div id="contentArea" class="drag-area"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
    