{# layout.twig #}
{% include '@includes/1_core/head.twig' %}

<body>
    {% include '@includes/4_regions/header.twig' %}
    <div class="wrapper row">
        {% block toolbar %}{% endblock %}
        {% block template %}{% endblock %}
    </div>
</body>
</html>
