///*------------------------------------*\
//    #UTILITY - COLORS
//\*------------------------------------*/
/* Note: the palette function is included here (vs in the tools directory)
 * since both of these needed in order to work properly
 */

@function palette($palette, $tone: 'base') {
  @return map-get(map-get(map-get($palettes, colors), $palette), $tone);
}

$palettes: (
  colors: (
    black: (
      base: #504d4b
    ),
    white: (
      base: #fff
    ),
    gray: (
      base: #f1f3f2,
      dark: #363941
    ),
    green: (
      base: #24ad69
    ),
    yellow: (
      base: #f2de50
    )
  )
);

$black: palette(black);
$green: palette(green);
$gray: palette(gray);
$grayDark: palette(gray, dark);
$yellow: palette(yellow);
$white: palette(white);

/** Ex. Light brown
p {
  color: palette(brown, light);
}
**/
