///*------------------------------------*\
//    #CORE - ICONS
//\*------------------------------------*/
/* Note: Will be replaced once SVG feature branch is completed */

%icon,
[class^='icon-'],
[class*=' icon-'] {
  &:before {
    font-family: $iconfont;
    speak: none;
    font-style: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: inherit;
    line-height: inherit;
    vertical-align: baseline;
    display: inline-block;
  }
}

.icon {
  font-size: 2rem;
}
%icon-divider,
.icon-divider:before {
  content: "\e900";
}
%icon-text,
.icon-text:before {
  content: "\e901";
}
%icon-edit,
.icon-edit:before {
  content: "\e905";
}
%icon-image,
.icon-image:before {
  content: "\e90d";
}
%icon-copy,
.icon-copy:before {
  content: "\e92c";
}
%icon-delete,
.icon-delete:before {
  content: "\e9ac";
}
