.global-header{
    left: 0;
    position: fixed;
    top: 0;
    width:100%;
    .logo-container{
        background-color:$grayDark;
        padding: $spacing-unit / 2 $spacing-unit;
        text-align: center;
        width:100%;
        @include breakpoint($desktop){
            padding: $spacing-unit / 2 $spacing-unit * 2;
            max-width:$leftColumnWidth;
        }
        img{
            display: inline-block;
            height: 30px;
            width:30px;
            @include breakpoint($desktop){
                height: 50px;
                width:50px;
            }
        }
    }
}
