.template-area{
    height: 100vh;
    padding-top: 180px;
    position: relative;
    text-align:center;
    width:100%;
    @include breakpoint($desktop){
        padding-left: calc(#{$leftColumnWidth} + #{$spacing-unit});
        padding-top: 0;
    }
    .email-container{
        display: inline-block;
        max-width:600px;
        width:100%;
    }
    table,
    thead,
    tbody,
    tr,
    th,
    td{
        display: block;
        padding: 0;
        width: 100%;
    }
    .block{
        display: block;
        max-width:100%;
        width:100%;
    }
}
