$mobileBlock: 60px;

.block{
    background-color:$white;
    border:1px solid lighten($grayDark, 60);
    border-radius:6px;
    cursor:pointer;
    height: $mobileBlock;
    margin-right: $spacing-unit;
    max-width:200px;
    padding: $spacing-unit;
    position: relative;
    transition: background-color 0.3s ease-in-out;
    width:$mobileBlock;
    &:last-child{
        margin-right: 0;
    }
    @include breakpoint($desktop){
        height: auto;
        margin-bottom: $spacing-unit;
        max-width:300px;
        width:100%;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &:hover{
        background-color:$gray;
        h3{
            color:$grayDark;
        }
        &:before{
            color:$grayDark;
        }
    }
    &:before{
        color:$green;
        display: block;
        font-family:'icomoon';
        font-size: 22px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform:translate(-50%, -50%);
        transition: color 0.3s ease-in-out;
        @include breakpoint($desktop){
            font-size: 30px;
            left:initial;
            right: 28px;
            transform:translateY(-50%);
        }
    }
    .content-container{
        display: none;
        @include breakpoint($desktop){
            display:block;
        }
    }
    h3{
        @include font-size(24);
        color:$green;
        margin-bottom: 0;
        transition: color 0.3s ease-in-out;
    }
    &.editing{
        border:1px solid red;
        .edit-area{
            display:block;
        }
    }
    .edit-area{
        display:none;
    }
    .edit-container{
        position: absolute;
        right: -41px;
        .edit-link{
            background-color:$white;
            display: block;
            height: 40px;
            position: relative;
            width: 40px;
            &:before{
                color:$green;
                display:block;
                font-family:'icomoon';
                left: 50%;
                position: absolute;
                top: 50%;
                transform:translate(-50%, -50%);
                transition: background-color 0.3s ease-in-out;
            }
            &:hover,
            &:active{
                // background-color:lighten($blue, 20);
            }
            &.edit{
                &:before{
                    @extend %icon-edit;
                }
            }
            &.copy{
                &:before{
                    @extend %icon-copy;
                }
            }
            &.delete{
                &:before{
                    @extend %icon-delete;
                }
            }
        }
    }
}
