.drag-area{
    border:1px dotted $blue;
    display: block;
    height: auto;
    min-height:20px;
    padding:$spacing-unit;
    width:100%;
    &:hover{
        background-color: lighten($blue, 10);
    }
}
