.gu-mirror {
    filter: alpha(opacity=80);
    margin: 0 !important;
    opacity: 0.8;
    position: fixed !important;
    z-index: 9999 !important;
}
.gu-hide {
    display: none !important;
}
.gu-unselectable {
    user-select: none !important;
}
.gu-transit {
    filter: alpha(opacity=20);
    opacity: 0.2;
}
